!!!
%head
  %title= settings.title || 'Documents'
  %meta{:charset => "utf-8"}
  %link{:rel => :stylesheet, :href => '/.css'}
  = settings.header

- if custom_body?
  = custom_body
- else
  #doc!= @doc
